# macOS
*.DS_Store

# Visual Studio Code
.vscode/*

# Build
build/*

# Dependencies
resources/macos/love.app/*
resources/switch/LOVEPotion.elf
resources/switch/romfs/*
resources/win32/love/*
resources/win64/love/*

# Tools
tools/funkin-json/*
tools/funkin-xml/*

!tools/funkin-json/funkin-json.py
!tools/funkin-xml/funkin-xml.py
