# macOS
*.DS_Store

# Visual Studio Code
.vscode/*

# Build
build/*

# Dependencies
dependencies/macos/love.app/*
dependencies/switch/LOVEPotion.elf
dependencies/switch/romfs/*
dependencies/win32/love/*
dependencies/win64/love/*

# Tools
tools/funkin-json/*
tools/funkin-xml/*

!tools/funkin-json/funkin-json.py
!tools/funkin-xml/funkin-xml.py
